html,
body {
    justify-content: center;
    margin: auto;
    width: 1280px;
}

.header {
    background-color: #011827;
    display: flex;
    font-family: "Roboto", sans-serif;
    height: 12rem;
    max-width: 100%;
    width: auto;
}

.logo {
    height: 4rem;
    margin-top: 1.25rem;
    margin-left: 1rem;
    width: 6rem;
    padding-bottom: 2rem;
}

figcaption {
    align-content: center;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-style: bold;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 2rem;
    /* justify-content: center; */
    width: auto;
}

.menu {
    display: flex;
    gap: 6rem;
    justify-content: center;
    list-style: none;
    margin-top: -3rem;
    margin-right: 1rem;
}

.playOne:hover,
.playTwo:hover,
.story:hover,
.contact:hover,
.home:hover {
    color: #8ACFE5;
}

.playOne {
    background-color: #011827;
    border: none;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}

.playTwo {
    background-color: #011827;
    border: none;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}

.story {
    background-color: #011827;
    border: none;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}

.contact {
    background-color: #011827;
    border: none;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}

.home {
    background-color: #011827;
    border: none;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}

.headlineChallenges {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    justify-content: center;
    margin-top: 3rem;
}

.filter {
    display: flex;
    justify-content: center;
}

.filterBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: solid 0.1rem;
    border-color: #8ACFE5;
    border-radius: 0.25rem;
    color: #8ACFE5;
    cursor: pointer;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 10rem;


}