@import url(hamburger.css);

html,
body {
    font-family: "Roboto", sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0%;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    background-color: #011827;
    display: flex;
    max-width: 100%;
}

figcaption {
    align-content: center;
    color: white;
    display: flex;
    font-size: 1rem;
    font-style: bold;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1.25rem;
    width: 20%;
}

.logo {
    height: 4rem;
    margin-top: 1.25rem;
    margin-left: 1rem;
    width: 6rem;
    padding-bottom: 2rem;
}

.menu {
    list-style: none;
    margin-top: -1.25rem;
}

.playOne,
.playTwo,
.story,
.contact,
.home {
    display: none;
    list-style: none;
}

.imageCard {
    border-radius: 0.5rem;
    height: auto;
    width: fit-content;
    
}

.scroll {
    display: flex;
    flex-direction: row;
    gap: 1.87rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 1rem;
    margin-top: 2rem;
}

.roomTitle {
    font-size: 1.60rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
}

.card {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardTwo {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardThree {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardFour {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardFive {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardSix {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardSeven {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardEight {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardNine {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardTen {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardEleven {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardTwelve {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardThirteen {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardFourteen {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.cardFifteen {
    background-color: white;
    border: #011827;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0.62rem;
    width: 364px;
}

.star {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    margin-left: 0.62rem;
    margin-top: -2rem;
}

.participants {
    font-size: 0.87rem;
    font-weight: 400;
    margin-left: 1rem;
}

.roomInfo {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.43rem;
    margin: 0;
    text-align: justify;

}

.btnDiv {
    display: flex;
    justify-content: end;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
}

.cardBtn {
    background-color: #E3170A;
    border: none;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    width: 11.2rem;

}

.filter {
    display: flex;
    justify-content: center;
}

.filterBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: solid 0.1rem;
    border-color: #8ACFE5;
    border-radius: 0.25rem;
    color: #8ACFE5;
    cursor: pointer;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 10rem;
}

.headlineChallenges {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    justify-content: center;
    margin-top: 3rem;
}

footer {
    align-content: center;
    background-color: #011827;
    display: flex;
    flex-direction: column;
}

.footerHead {
    color: white;
    font-size: 1.12rem;
    font-weight: 700;
}

.footerText {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1.875rem;
    text-align: left;
    width: 70%;
}

.siteMap {
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

h4 {
    color: white;
    font-weight: 700;
    font-size: 1.12rem;
    margin-left: 30px;
}

.siteList {
    list-style: none;
}

.socials {
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.socialList {
    list-style: none;
}

.linkPlay {
    color: white;
    text-decoration: none;
}

@media (min-width: 600px) {

    html,
    body {
        justify-content: center;
        margin: auto;
        width: 1280px;
    }

    .header {
        background-color: #011827;
        display: flex;
        font-family: "Roboto", sans-serif;
        height: 12rem;
        max-width: 100%;
        width: auto;
    }

    .logo {
        height: 4rem;
        margin-top: 1.25rem;
        margin-left: 1rem;
        width: 6rem;
        padding-bottom: 2rem;
    }

    figcaption {
        align-content: center;
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        font-style: bold;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: 2rem;
        /* justify-content: center; */
        width: auto;
    }

    .menu {
        display: flex;
        gap: 6rem;
        justify-content: center;
        list-style: none;
        margin-top: -3rem;
        margin-right: 1rem;
    }

    .hamburgerMenu {
        display: none;
    }

    .popupMenu {
        display: none;
    }

    .playOne:hover,
    .playTwo:hover,
    .story:hover,
    .contact:hover,
    .home:hover {
        color: #8ACFE5;
    }

    .playOne {
        background-color: #011827;
        border: none;
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
    }

    .playTwo {
        background-color: #011827;
        border: none;
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
    }

    .story {
        background-color: #011827;
        border: none;
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
    }

    .contact {
        background-color: #011827;
        border: none;
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
    }

    .home {
        background-color: #011827;
        border: none;
        color: white;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: bold;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
    }

    .popular {
        margin-top: -6rem;
    }

    .scroll {
        justify-content: center;
        width: 1280px;
    }

    .roomTitle {
        margin-left: 0.6rem;
    }

    .roomInfo {
        margin-left: 0.6rem;
    }

    footer {
        align-items: center;
        border: 0;
        flex-direction: row;
        font-weight: 400;
        height: 20rem;
        margin-top: 5rem;
        width: auto;
    }

    .footerAbout {
        display: flex;
        flex-direction: column;

    }

    h4 {
        margin-bottom: 0;
        margin-left: 4.9rem;
    }

    .follow {
        margin-top: -1rem;
    }

    .footerText {
        margin-right: 6rem;
        margin-left: 5rem;
        width: 20rem;
    }

    .siteList,
    .socialList {
        margin-left: 3rem;
    }

}