@import url(challenges.css);

body {
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.filterbutton {
  display: none;
}

.filter {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-template-rows: auto;
  width: 1000px;
  margin-left: 2rem;
}

.containerfilter {
  display: block;
  align-content: center;
  background-color: white;
  border: #011827;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
  width: 1210px;
  justify-content: center;
  margin-left: 2rem;
}

h2 {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.bytype {
  margin-left: 20px;
}

.checkbox {
  margin-left: 20px;
}

.close {
  background-color: white;
  float: right;
  top: 20px;
  right: 30px;
  margin-right: 20px;
  padding-top: 0px;
  width: 20px;
  height: 20px;
}

.rating {
  align-content: center;
}

.starrating1 em {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto";
  font-style: bold;
}

.typetags1 {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.tags button.active {
  background-color: #8acfe5;
  color: white;
  border-color: #8acfe5;
}

#web,
#linux,
#cryptography,
#coding,
#javascript,
#bash,
#hacking,
#phreaking,
#ssh,
#ctf,
#electronics {
  border: 0.1rem #8acfe5;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.2rem;
  text-align: center;
  text-decoration: none;
  color: #011827;
}

.typingtext {
  justify-content: center;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-bottom: 50px;
  margin-top: 50px;
}

.typetags1 {
  display: flex;
  gap: 1rem;
}

.typetags2 {
  display: flex;
  gap: 1rem;
}

.typetags3 {
  display: flex;
  gap: 1rem;
  margin-top: 0.3rem;
}

#typing {
  width: 300px;
  height: 30px;
}

a.active {
  background-color: #8acfe5;
  color: #011827;
  border-radius: 1rem;
  padding: 0.2rem;
}
#infomessage {
  margin-top: 6rem;
  align-content: center;
}

#info {
  text-align: center;
  align-content: center;
  font-size: 36px;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
}
