.hamburgerMenu {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  height: 1.4rem;
  justify-content: space-between;
  width: 1.9rem;
  cursor: pointer;
}

.bar,
.barx {
  background-color: white;
  border-radius: 0.1rem;
  height: 0.2rem;
  width: 100%;
  transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 800;
}

.overlay.active {
  background: rgba(0, 0, 0, 0.65);
  opacity: 1;
  pointer-events: all;
}

.popupMenu {
  align-items: center;
  background: #011827;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  left: 50%;
  max-width: 90vw;
  width: 90%;
  opacity: 0;
  position: fixed;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 900;
  pointer-events: none;
  visibility: hidden;
}

.popupMenu.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
  visibility: visible;
}

.closeBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2.2rem;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}

.popupMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popupMenu li {
  margin-bottom: 1.7rem;
}

.popupMenu a {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
}

.popupMenu a:hover {
  color: #8acfe5;
}

@media (min-width: 768px) {
  .hamburgerMenu {
    display: none;
  }

  .popupMenu {
    display: none;
  }

  .overlay {
    display: none;
  }
}