
  .hamburgerMenu {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    height: 1.37rem;
    justify-content: space-between;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 1.87rem;
  }

  .bar {
    background-color: white;
    border-radius: 0.1rem;
    height: 0.2rem;
    transition: 0.3s;
    width: 100%;
  }

  .overlay {
    background: rgba(0, 0, 0, 0); 
    height: 100vh;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease;
    width: 100%;
  }

  .overlay.active {
    background: rgba(253, 253, 253, 0.655);
    opacity: 1;
    pointer-events: auto;
  }

  .popupMenu {
    align-items: center;
    background: #011827;
    color: white;
    display: flex;
    height: 95vh; 
    left: 50%;
    max-width: 90vw;
    opacity: 0;
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform 0.4s ease, opacity 0.4s ease;
    top: 50%;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    z-index: 900;
  }

  .popupMenu.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .closeBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem; 
  }

  .popupMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .popupMenu li {
    margin-bottom: 1.7rem;
  }

  .popupMenu a {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }

  .popupMenu a:hover {
    color: #8ACFE5;
  }