html,
body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin: 0;
  width: 480px;
}

.header {
  background-color: #011827;
  display: flex;
  height: 144px;
  max-width: auto;
}

.headPic {
  height: 274px;
  max-width: 100%;
  position: relative;
}

.myCover {
  max-width: 100%;
  position: relative;
}

figcaption {
  align-content: center;
  color: white;
  display: flex;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  margin-left: 15px;
  margin-top: 20px;
  width: 110px;
}

.logo {
  height: 82px;
  margin-top: 20px;
  margin-left: 27px;
  width: 128px;
}

.menu {
  list-style: none;
  margin-top: -20px;
}

.playOne,
.playTwo,
.story,
.contact {
  display: none;
  list-style: none;
}

.onlineBtn {
  display: none;
}

.btnList {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.onsiteBtn {
  align-items: center;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 66px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  width: 308px;
}

.mobileOnline {
  background-color: white;
  border: none;
  color: #36769D;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.userImg {
  float: left;
  height: 73px;
  margin: 5px;
  margin-top: 25px;
  width: 73px;
}

.reviewOne {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  height: 139px;
  justify-content: left;
}

.reviewTwo {
  display: none;
}

.name {
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: -20px;
}

.userImg2 {
  display: none;
}

.popular {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.imageCard {
  height: auto;
  width: fit-content;
}

.scroll {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
}

.roomTitle {
  font-size: 28px;
  font-weight: 400;
  text-align: left; 
}

.card {
  background-color: white;
  border: #011827;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.233);
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 363px;
}

.cardTwo {
  background-color: white;
  border: #011827;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.233);
  flex-direction: column;
  margin-bottom: 20px;
  width: 363px;
}

.cardThree {
  background-color: white;
  border: #011827;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.233);
  flex-direction: column;
  margin-bottom: 20px;
  width: 363px;
}

.star {
  align-items: center;
  float: left;
  margin-left: 10px;
}

.participants {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-left: 250px;
}

.roomInfo {
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
}

.btnDiv {
  display: flex;
  justify-content: end;
  margin-bottom: 20px; 
  margin-right: 20px;
}

.cardBtn {
  background-color: #E3170A;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  height: 44px;
  width: 179px;
  
}

.onsiteBtnTwo {
  display: inline-block;
  align-items: center;
  text-align: center;
  background-color: #8ACFE5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
  width: 308px;
  height: 66px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
}

.mobileOnlineTwo {
  display: flex;
  justify-content: center;
  color: #36769D;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
}

.onlineBtnTwo {
  display: none;
}

.about {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  height: 500px;
  background-color: #011827;
  font-weight: 400;
}

.aboutText {
  color: white;
  font-style: normal;
  text-align: center;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.aboutBtn {
  border-color: #8ACFE5;
  color: #8ACFE5;
  background-color: #011827;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
}

.bookingImg {
  width: 100%;
  height: 300px;
}

.bookingHead {
  display: flex;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
}

.bookingText {
  display: flex;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

.bookingBtn {
  display: block;
  align-items: center;
  width: 308px;
  height: 66px;
  border: none;
  background-color: #E3170A;
  color: white;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 15px;
}

.challengesImg {
  width: 100%;
  height: 300;
}

.challengesHead {
  display: flex;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;

}

.challengesText {
  display: flex;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

.challengesBtn {
  display: block;
  align-items: center;
  width: 308px;
  height: 66px;
  border: none;
  background-color: #E3170A;
  color: white;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #011827;
  align-content: center;
}

.footerHead {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.footerText {
  color: white;
  font-weight: 400;
  font-size: 18px;
  width: 439px;
  text-align: left;
  margin-left: 30px;
}

.siteMap {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

h4 {
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-left: 30px;
}

.siteList {
  list-style: none;
}

.socials {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.socialList {
  list-style: none;
}

@media (min-width: 481px) {

  html,
  body {
    width: 1280px;
    margin: auto;
    justify-content: center;

  }



  .mobileOnline,
  .mobileOnlineTwo {
    display: none;
  }

  .logo {
    width: 128px;
    height: 82px;
    margin-top: 26px;
    margin-left: 27px;
  }

  figcaption {
    /* display: flex; */
    justify-content: center;
    /* color: white; */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
    width: auto;
  }

  .header {
    background-color: #011827;
    font-family: "Roboto", sans-serif;
    width: auto;
    height: 216px;
  }

  .myCover {
    width: 1280px;
    height: 468px;
    object-fit: cover;
  }

  .menu {
    display: flex;
    margin-top: -60px;
    list-style: none;
    justify-content: center;
    gap: 100px;
  }

  .playOne:hover,
  .playTwo:hover,
  .story:hover,
  .contact:hover {
    color: #8ACFE5;
  }

  .playOne {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: #011827;
    color: white;
  }

  .playTwo {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: #011827;
    color: white;
  }

  .story {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: #011827;
    color: white;
  }

  .contact {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: #011827;
    color: white;
  }

  .btnsNav {
    width: 1280px;
    margin-top: -70px;
    position: absolute;
  }

  .btnList {
    width: 1280px;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    gap: 20px;
  }

  .onlineBtn {
    display: block;
    width: 308px;
    height: 66px;
    border: none;
    background-color: #E3170A;
    color: white;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .onsiteBtn {
    display: block;
    width: 308px;
    height: 66px;
    border: none;
    background-color: #8ACFE5;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .userImg {
    display: flex;
    margin: 5px;
    width: 96px;
    height: 96px;
  }

  .userImg2 {
    display: flex;
    margin: 5px;
  }

  .reviews {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  .reviewOne {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 141px;
  }

  .reviewTwo {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    height: 141px;
    margin-left: 10px;
  }

  .popular {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .scroll {
    justify-content: center;
    width: 1280px;
  }

  .roomTitle {
    margin-left: 10px;
  }

  .participants {
    display: flex;
    justify-content: end;
    margin-right: 15px;
  }

  .roomInfo {
    margin-left: 10px;
  }

  .onlineBtnTwo {
    display: block;
    width: 308px;
    height: 66px;
    border: none;
    background-color: #E3170A;
    color: white;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
  }

  .about {
    width: 1280px;
    margin-bottom: -32px;
  }

  .aboutText {
    padding-top: 100px;
  }

  .aboutBtn {
    margin-top: 40px;
  }

  .booking {
    height: 460px;
    margin-top: 32px;
    margin-bottom: 0;
  }

  .bookingImg {
    flex-direction: row;
    float: left;
    width: 640px;
    height: 460px;
    margin-right: 100px;

  }

  .bookingHead {
    text-align: left;
    padding-top: 50px;
    width: 416px;

  }

  .bookingText {
    display: flex;
    width: 416px;

  }

  .challengesHead {
    padding-top: 50px;
    width: 416px;
    margin: 0;
  }

  .challenges {
    margin-left: 50px;
    height: 460px;
    margin-top: 0;
  }

  .challengesImg {
    float: right;
    width: 640px;
    height: 460px;
    margin: 0;
  }

  .challengesText {
    width: 416px;
    margin: 24px 0;
  }

  footer {
    flex-direction: row;
    font-weight: 400;
    width: auto;
    height: 467px;
    align-items: center;
    border: 0px;
    margin-top: 150px;
  }

  .footerAbout {
    display: flex;
    flex-direction: column;

  }

  h4 {
    margin-bottom: 0;
    margin-left: 5em;
  }

  .follow {
    margin-top: -16px;
  }

  .footerText {
    margin-right: 10em;
    margin-left: 5em;
  }

  .siteList,
  .socialList {
    margin-left: 3em;
  }

}